.card {
  height: 100vh !important;
  position: sticky;
  top: 0;
}
.card-icon-2 {
  width: 30px;
  height: 30px;
  background-color: #eed2f3de;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.accordion-2 {
  background-color: #fff !important;
}
.darkmode {
  background-color: #1a1a1a !important;
  color: #fff !important;
}
.lightmode {
  background-color: #fff !important;
  color: #000 !important;
}
.search-2 {
  font-size: 14px;
  position: absolute;
  left: 10px;
  top: 10px;
}